section
  max-width: 100%
  img
    max-width: 100%

header
  position: fixed
  top: 0
  left: 0
  width: 100%
  ul
    display: flex
    justify-content: flex-end
    li
      padding: 1em .5em
      cursor: pointer
    li:last-child
      padding-right: 1em
  .nuxt-link-exact-active
    text-decoration: underline