section
  max-width: 100%
  img
    max-width: 100%

header
  position: relative
  width: 100%
  ul
    display: flex
    justify-content: flex-end
    li
      padding: 1em .5em
      cursor: pointer
    li:last-child
      padding-right: 1em
  .nuxt-link-exact-active
    text-decoration: underline

.blog-post
  padding-left: 1em
  padding-right: 1em

// Important since overriding interactions
.desktop
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: none !important
.mobile
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: block !important
.horizontal
  display: none
  @media screen and (orientation: landscape)
    display: block !important
.vertical
  display: none
  @media screen and (orientation: portrait)
    display: block !important
